/* HSL */
$dusk: hsla(273%, 16%, 22%, 1);
$sand: hsla(35%, 67%, 57%, 1);
$sunrise: hsla(14%, 100%, 65%, 1);
$stone: hsla(42%, 100%, 81%, 1);
$agave: hsla(88%, 100%, 93%, 1);

///* RGB */
//$color1: rgba(58, 48, 66, 1);
//$color2: rgba(219, 157, 71, 1);
//$color3: rgba(255, 120, 79, 1);
//$color4: rgba(255, 225, 156, 1);
//$color5: rgba(237, 255, 217, 1);

/* HSL */
$bloom: hsla(130%, 41%, 77%, 1);
$snakebelly: hsla(0%, 0%, 63%, 1);
$slate: hsla(0%, 0%, 54%, 1);
$charcoal: hsla(0%, 0%, 35%, 1);
$midnight: hsla(0%, 0%, 21%, 1);
$lace: hsla(0%, 0%, 91%, 1);