<div class='row'>
		<div class="col-md-4">
			{{#link-to 'queue.scrub'}}Scrub Queue{{/link-to}}
		</div>
		<div class="col-md-4">
			{{#link-to 'queue.listen'}}Listen Queue{{/link-to}}
		</div>
		<div class="col-md-4">
			{{#link-to 'queue.weekly'}}Weekly Queue{{/link-to}}
		</div>
</div>
<div class="row">
	<div class='col-md-12'>
		{{outlet}}
	</div>
</div>
